@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
html{
    font-family: 'Arimo', sans-serif;
}

#contacts-table{
    border-collapse: collapse;
}

#contacts-table td {
    padding: 10px;
    text-align: center;
}

#contacts-table th{
    padding: 10px;
    text-align: center;
    table-layout: auto;
    margin: auto;
}

#contacts-table tr:nth-child(2n + 1){
    background-color: aliceblue;
}
.button{
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.66);
    color: white;
    border: none;
    border-radius: 5%;
    font-size: 15px;
    text-align: center;
    margin: 5px 10px 0 0;
    cursor: pointer;
}
.formInput{
    margin: 5px 5px 0 0;
}
input{
    border-style: solid;
    border-color: #939393;
    border-width: 2px;
    size: 20px;
    box-shadow: 0 1px 2px 0 #3d3d3d;
}

#editing{
    background-color: transparent;
    border: none;
    cursor: pointer;
}